 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("todo.jpg");
    color: black;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.todo-input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    
}
header {
    font-size: 1.2rem;
    font-weight: bold;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: -100%;
    animation: slide-in-animation 1s forwards;
}
@keyframes slide-in-animation {
    from {
      left: -50%;
    }
    to {
      left: 0;
    }
}


header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, 
form button {
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 2.3rem;
    border: none;
    background: white;
    border-radius: 2rem;
}
form input{
    width: 220px;
    /* width: 500px; */
}


form button {
    color:blue;
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
    
}

form button:hover {
    color: white;
    background: black;
}

.fa-plus-circle {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: -8px;
    margin-left: -8px;
    border-radius: 0.5%;
}


.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;  
}

.todo li {
    flex: 1;

}

.trash-btn, 
.complete-btn {
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn {
    background: green;
}

.trash-btn {
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: red;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;  
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    width: 177px;
}

select {
    color:black;
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
    font-weight: bold;
}


.select::after {
    content: "\25BC";
    position: absolute;
    background:blue;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
    font-weight: bold;
}

.select::hover::after {
    background: white;
    color: rgb(255, 200, 0)
}

@media (max-width: 100px)
{
    form input,
    form button{
        font-size: 1.8rem;
    }
}
.credits{
    text-align: center;
  }
